<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.music.chords">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".utils.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

<!--        <activity-->
<!--            android:name=".activity.ItemDetailsActivity"-->
<!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
<!--            android:theme="@style/AppTheme.NoActionBar" />-->

<!--        <activity-->
<!--            android:name=".activity.ItemDetailsLyricsActivity"-->
<!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
<!--            android:theme="@style/AppTheme.NoActionBar" />-->

        <activity
            android:name=".activity.ItemDetailsChordsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.FontSizeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.AutoScrollActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.DarkModeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>